<div class="container">
  <h1>Thêm sản phẩm</h1>
  <form (ngSubmit)="onClick()" #formAdd="ngForm">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" [(ngModel)]="product.name" name="name" #name="ngModel" minlength="5">
    </div>
    <div class="mb-3">
      <label class="form-label">Img</label>
      <input type="text" class="form-control" [(ngModel)]="product.img" name="img" #name="ngModel">
    </div>
    <div class="mb-3">
      <label class="form-label">Price</label>
      <input type="number" class="form-control" [(ngModel)]="product.price" name="price" #price="ngModel">
    </div>
    <div class="mb-3">
      <label class="form-label">Description</label>
      <input type="text" class="form-control" [(ngModel)]="product.description" name="description"
        #description="ngModel">
    </div>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
      <div *ngIf="name.errors?.['required']">
        Không được để trống.
      </div>
      <div *ngIf="price.errors?.['required']">
        Không được để trống.
      </div>
      <div *ngIf="description.errors?.['required']">
        Không được để trống.
      </div>
      <div *ngIf="name.errors?.['minlength']">
        Name must be at least 5 characters long.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!formAdd.valid">Submit</button>
  </form>
</div>